body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #1d1f21;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .logomarvel{
        width: 150px;
        height: 80px;
        }

        h1 {
            margin-top: 0px;
            text-align: center;
            font-size: 2.5rem;
            color: #f0141e;
            text-transform: uppercase;
            text-shadow: 0px 0px 15px rgba(255,0,0,0.5);
        }

        .personagem-lista {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            width: 90%;
            max-width: 600px;
            margin: 20px auto;
        }

        .personagem {
            background-color: #2b2d2f;
            border-radius: 15px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            transition: transform 0.3s, box-shadow 0.3s;
        }

        .personagem img {
            width: 100%;
            border-bottom: 3px solid #f0141e;
        }

        .personagem-info {
            padding: 15px;
            text-decoration: none;
        }

        .personagem-info h2 {
            margin: 0;
            font-size: 1.8rem;
            color: #f0141e;
            text-decoration: none;
        }

        .personagem-info p {
            font-size: 20px;
            margin-top: 10px;
            text-decoration: none;
            color: white;
        }

        .personagem:hover {
            transform: translateY(-10px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
            cursor: pointer;
            text-decoration: none;
        }


        .cabecalho{
            background-color: red;
            height: 10px;
            width: 100%;
            box-shadow: 0px 0px 15px rgba(255, 0, 0, 1);
        }

        .verpersonagens{
                color: red !important;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    background: white;
    padding: 15px;
    border-radius: 20px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0);
        }

        a:hover {
    color: white;
}

a:visited {
    color: white;
}

a:active {
    color: white;
}